{% extends 'base.html.twig' %}

{% block title %} Homepage {% endblock %}

{% block body %}
{# <div class="container col-md-10 text-center">
    <h2 class="text text-success mb-3"> Todo Application </h2>
    {# <img src="{{ asset('images/todo.png')}}" alt="todo"
    width="500" height="400"> #}
<div class="container col-md-6 text-center mt-4">
    <img id="homepage" src="http://thicongnhahangdep.com/upload/sanpham/thietkecuahangthoitrangnam-9272.gif">
</div> 
{% endblock %}