{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block body %}
<div class = "container-fluid row">

    <div class = "col-lg-10">
<<<<<<< HEAD
        <h1 class = "text text-success"> Contact </h1>
=======
        <h1 class = "text text-primary"> Contact </h1>
>>>>>>> c2da7063ddcb83df9cbfe4529fd5b479d5148a7d
        {{form(contactForm)}}
    </div>
</div>

{% endblock %}